.cardsContainer{
display: flex;
flex-direction: column;
align-items: center;
background-image: url("../../assets/images/bk.jfif");
margin: 40px;
border-radius: 10px;
min-height: 550px;
}

.headerBox{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 700;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
}

.subtitle{
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.box p{
    font-size: 17px;
    font-weight: 900px;
}

.table{
    margin: 30px auto ;
    border-radius: 10px;
    overflow: hidden;
}
.titulos{
    background-color: #0d6efd;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    color: white
}

.theads{
    width: 165px;
    margin: auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.row input{
    text-align: center; 
    width: 165px;
}

.row p{
    display: flex;
    height: 100%;
    margin: 0;
    border: 1px solid black ;
    padding: 4px;
    background-color: white;
    justify-content: center;
    width: 165px;
}


.row div{
    text-align: center; 
    width: 40px;
    background-color: white;
}

.update{
    width: 40px;
}

.updateIcon:active{
    color: rgba(255, 255, 255, 0.451);
}

.icon{
    padding-top: 3px;
    font-size: 15px;
    margin-left: 10px;
}

.icon:hover{
    cursor: pointer;
}

.form{
    display: flex;
    width: 950px;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid white;
    padding: 7px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.label{
    color: white;
}

.file{
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 2px;
    display: flex;
    justify-content: center ;
}

.file:hover{
    cursor: pointer;
}

.input{
    border-radius: 8px;
    width: 100%;
    padding: 0 5px;
    min-height: 18px;
}

.select{
    border-radius: 8px;
    padding: 3px 0px;
}

.group{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 20%;
    margin: 10px 5px
}

.form button{
    margin: 20px
}

.owner{
    font-size: 12px;
}
.selecTitle{
    text-align: center;
    font-weight: 500;
}

.hidden{
    display: none;
}